
*, *::before, *::after { box-sizing: border-box;}


body {
	box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.container {
	box-sizing: border-box;
  margin: 0 auto;
  width:360px;
	background-color: #605E5E;
}




form {
padding-left: 90px;
position: absolute;
top: 30%;
}

form input {
  border: none;
  background: transparent;
  outline: none;
	font-family: 'Roboto', sans-serif;
	color:#ffffff;
}

::placeholder {
  color: #C9C9C9;
}



nav {
	box-sizing: border-box;
  position:absolute;
	background-color:#605E5E;
  width: 360px;

}


.list {
	box-sizing: border-box;
  padding-top: 57px;
	width: 100%;
}



.bound {
padding-left: 21px;
padding-top: 10px;
background-color: #605E5E;
color:white;
font-weight: 300;
font-size: 14px;
}
.bound h2{
	padding-top:5px;
}

.bound li {
	font-weight:400;
	font-size: 14px;
}


/* content is the darker block */
.content {
	width: 360px;
	background-color:#3D3D3D;

}
.information:hover{
	opacity: 0.3;
  filter: alpha(opacity=30);
}

.information  {
	border-bottom: 1px solid#525252;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li  {
  display:inline-block ;
  color: white;
	font-weight: 300;
	font-size: 12px;
	padding:5%;



}
/*This is the Line, Destination, and Frequency adjustments*/
#LDF {
	background: #605E5E;
}
#LDF li.line {
margin-right:-5px;
margin-left: -16px;
}
#LDF li.destination {
margin-right: 41px;
}
#LDF li.arrival {
margin-right:
}

	/* This is for adjusting the margins for the information */

#first-info li.info1 {
vertical-align: middle;
margin-right: -12px;
}
#first-info li.info11 {
	font-weight:500;
}
#first-info li.info111 {
margin-left:17px;
}

#second-info li.info2 {
vertical-align: middle;
margin-right: -12px;
}
#second-info li.info22 {
margin-right:75px;
font-weight:500;
}
#second-info li.info222 {

}

#third-info li.info3 {
vertical-align: middle;
margin-right: -12px;
}
#third-info li.info33 {
margin-right:62px;
font-weight:500;
}
#third-info li.info333 {

}

#fourth-info li.info4 {
vertical-align: middle;
margin-right: -12px;
}
#fourth-info li.info44 {
margin-right:26px;
font-weight:500;
}
#fourth-info li.info444 {

}

#fifth-info li.info5 {
vertical-align: middle;
margin-right: -12px;
}
#fifth-info li.info55{
margin-right:75px;
font-weight:500;

}
#fifth-info li.info555 {

}
#sixth-info li.info6 {
vertical-align: middle;
margin-right: -12px;
}
#sixth-info li.info66 {
margin-right:18px;
font-weight:500;
}
#sixth-info li.info666 {

}
#seventh-info li.info7 {
vertical-align: middle;
margin-right: -12px;
}
#seventh-info li.info77 {
margin-right:32px;
font-weight:500;
}
#seventh-info li.inf0777 {

}
#eighth-info li.info8 {
vertical-align: middle;
margin-right: -12px;
}
#eighth-info li.info88 {
margin-right:66px;
font-weight:500;
}
#eighth-info li.info888 {

}
#ninth-info li.info9 {
vertical-align: middle;
margin-right: -12px;
}
#ninth-info li.info99 {
margin-right:12px;
font-weight:500;
}
#ninth-info li.info999 {

}
